@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --- CUSTOM --- */
  /* Theme */
  --primary-rgba: 65, 166, 255, 1;
  --secondary-rgba: 0, 122, 204, 1;
  --tertiary-rgba: 51, 153, 187, 1;
  --quaternary-rgba: 0, 92, 175, 1;
  /* white */
  --white-default-rgba: 255, 255, 255;
  /* black */
  --black-100-rgba: 210, 210, 210, 1;
  --black-200-rgba: 237, 237, 237, 1;
  --black-300-rgba: 245, 245, 245, 1;
  --black-400-rgba: 230, 230, 230, 1;
  /* grey */
  --gray-default-rgba: 130, 130, 130, 1;
  --gray-100-rgba: 20, 20, 20, 1;
  --gray-200-rgba: 60, 60, 60, 1;
  --gray-300-rgba: 70, 70, 70, 1;
  /* code */
  --code-100-rgba: 5, 143, 0, 1;
  --code-400-rgba: 50, 126, 54, 1;
  --code-200-rgba: 46, 200, 174, 1;
  --code-300-rgba: 22, 130, 93, 1;
  /* border */
  --border-rgba: 0, 0, 0, 0.1;
}

html.dark {
  /* --- CUSTOM --- */
  /* Theme */
  --primary-rgba: 0, 122, 204, 1; /* Blue 06 */
  --secondary-rgba: 0, 151, 251, 1; /* Blue 05 */
  --tertiary-rgba: 51, 153, 187, 1; /* Blue 04 */
  --quaternary-rgba: 117, 190, 255, 1; /* Blue 01 */
  /* white */
  --white-default-rgba: 0, 0, 0, 2;
  /* black */
  --black-100-rgba: 60, 60, 60, 1; /* Base 14 */
  --black-200-rgba: 37, 37, 38, 1; /* Base 19 */
  --black-300-rgba: 30, 30, 30, 1; /* Base 20 */
  --black-400-rgba: 34, 39, 46, 1; /* prose code bg */
  /* grey */
  --gray-default-rgba: 128, 128, 128, 1; /* Base 05 */
  --gray-100-rgba: 229, 229, 229, 1; /* Base 04 */
  --gray-200-rgba: 229, 231, 235, 1; /* tailwind gray 200 */
  --gray-300-rgba: 209, 213, 219, 1; /* tw gray 300 */
  /* code */
  --code-100-rgba: 141, 193, 73, 1; /* Green Seti */
  --code-400-rgba: 50, 126, 54, 1; /* Green 04 */
  --code-200-rgba: 46, 200, 174, 1; /* Green 02 */
  --code-300-rgba: 22, 130, 93, 1; /* Green 03 */
  /* border */
  --border-rgba: 255, 255, 255, 0.2;
}

body {
  color: rgb(var(--gray-100-rgba));
  background: rgba(var(--black-200-rgba));
}

h2 code {
  background: rgba(var(--green-background-rgba));
  font-weight: 600 !important;
}

code {
  background: rgba(var(--border-rgba));
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
  font-size: 1em !important;
  font-weight: 400 !important;
}

code:before,
code::after {
  display: none;
}

blockquote {
  padding: 0.125rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: rgba(var(--black-100-rgba));
}

blockquote p::before,
blockquote p::after {
  display: none;
}

.prose {
  max-width: calc(100vw - 2.875rem - 2rem - 1px);
  font-weight: 300;
  --tw-prose-pre-bg: rgba(var(--black-400-rgba));
  --tw-prose-code: rgba(var(--gray-100-rgba));
  --tw-prose-bold: rgba(var(--gray-100-rgba));
  --tw-prose-quotes: rgba(var(--gray-100-rgba));
  --tw-prose-counters: rgba(var(--gray-100-rgba));
}

@media (min-width: 768px) {
  .prose {
    max-width: none;
  }
}

.prose > * {
  color: rgb(var(--gray-100-rgba));
}

.prose h2 > a {
  text-decoration: none !important;
}
.prose :not(h2) > a {
  display: none;
}
